.topnav {
  background-color: rgb(21, 89, 236);
  overflow: hidden;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.topnav a {
  float: left;
  display: block; 
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.topnav a:hover {
  background-color: black;
}

.topnav a.active {
  background-color: grey;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
  }
